<div *ngIf="multi" class="clearfix">
  <p *ngIf="showSectionHeader" class="section-header">{{ sectionHeaderText }}</p>
        <nz-upload
          [nzAction]="postReqUrl"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 8"
          [nzPreview]="handlePreview"
          [nzData]="{caseType: caseType, caseId: caseId}"
          (nzChange)="fileUploading($event)"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>


      <div *ngIf="!multi" class="clearfix">
                <nz-upload
                        class="avatar-uploader"
                        [nzAction]="postReqUrl"
                        [nzData]="{caseType: caseType, caseId: caseId}"
                        nzName="file"
                        nzListType="picture-card"
                        [nzShowUploadList]="false"
                        (nzChange)="handleChangeSingleUpload($event)"
                >
                        <ng-container *ngIf="!avatarUrl">
                                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                                <div class="ant-upload-text">Upload</div>
                        </ng-container>
                        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
                </nz-upload>
      </div>
