.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}