// footer section
.rb-footer-void {
  width: 100%;
  height: 50px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, rgb(255, 250, 250)));
}

ion-toolbar {
  padding: 0;
  margin: 0;
  img {
    width: 100%;
  }
}


ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14)
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-warning);
}

ion-menu.md ion-item ion-icon {
  color: #ffffff;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #fff;
}

ion-item.selected {
  --color: var(--ion-color-warning);
}

.sub-menu{
  margin-left: 20px;
  transition: 2s;
}
.main-menu-item ion-item:hover{
  --background: rgba(15, 15, 15, 0.027);
}
