//$backgroundLayer: linear-gradient(90deg, rgba(255,123,0,1) 0%, rgba(237,255,0,0.9416900549282213) 100%);
$backgroundLayer: #ffd700;

  .real-price{
    margin-bottom: 10px;
    color: #ef0000b0;
  }
  .disabled-price{
    text-decoration: line-through;
    color: var(--ion-color-medium);
    margin: 0;
  }
  .description{
    background: #fff;
    padding: 35px 5px 50px 5px;
    letter-spacing: 1.1px;
    line-height: 1.7;
    font-size: 14px;
    text-align: justify;

    ion-segment{
      margin-bottom: 30px;
      --background: #f8f8f8;
    }
  }
ion-content{
  --background: #ffffff;



  .cart-badge{
    position: absolute;
    top: 7px;
    right: 10px;
  }
    ion-toolbar{
      --background: #ffd700;
    }

    .fullscreen{
      height: 100%;

        .title-wrapper{
          z-index: 15;
          margin-top: -20px;

          .title{
            text-align: center !important;
            color: #000;
            font-weight: bold;
            text-shadow: 2px 2px 3px #0000007d;
            font-size: 18px;
          }
        }


      .upper-part{
        height: 30%;
        display: inline;

        ion-slides{
          height: 350px;

          ion-img{
            height: 100%;
          }
        }
      }

      .bottom-part{
        background: #fff;
        height: 70%;
        border-radius: 20px 20px 0 0;
        margin-top: -200px;
        padding-top: 200px;
        box-shadow: 0 -2px 10px 5px #22222217;


        .regular-price{
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 15px;
          justify-content: center;
        }

        .rating{
          margin-right: 15px;
        }

        .description{
          background: #fff;
          padding: 35px 15px 50px 15px;
          letter-spacing: 1.1px;
          line-height: 1.7;
          font-size: 14px;
          text-align: justify;

          ion-segment{
            margin-bottom: 30px;
            --background: #f8f8f8;
          }
        }

      }
    }


    .actions{
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #fff;

      .square{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        background-color: var(--ion-color-warning);
        border: 5px solid #000;
        right: 12px;
        top: 100%;
        z-index: 9999999999999999;
      }
    }

    ion-list-header{
      padding: 0;
      font-weight: bold;
      color: #d54ffbb0;
    }
    .shortdescription{
      font-size: 14px;
      word-spacing: 2px;
      color: #3338;
    }

}

.attr-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;

  .attr-name {
    margin: 0 10px;
    font-weight: bold;
  }

  .activeBody {
    background: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast) !important;
    box-shadow: 0 4px 4px #000000eb;
  }

  .attr-content {
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--ion-color-warning);
    border-radius: 5px;
    cursor: pointer;

    .attrValName {
      color: var(--ion-color-dark);
      font-weight: bold;
    }

    .active {
      box-shadow: inset 0 55px 8px #fa9c096b;
    }
  }

}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.desc{
  width: 100% !important;

  table{
    width: 100% !important;
  }
}

.chat-app{
  position: fixed;
  right: -5px;
  bottom: 35px;
  z-index: 2000;
}
@media screen and (max-width: 480px) {
  .btn-text{
    font-size: 11px;
  }
}

.highlighted {
  border: 2px solid red;
  /* Customize the border style as per your requirement */
}
.apply{color: blue;}
.reviewimagesContainer{display: flex;flex-basis: 33%;}
.reviewimagesContainer img{max-width: 300px;margin-right:50px}
.review-container{max-width: 1100px;margin: 0px auto;}
.review{padding: 25px 0px;
  border-bottom: 1px solid #eee;}