<ion-header style="height: 12%">
  <app-main-header></app-main-header>
</ion-header>

<ion-content>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
      <ion-title class="ion-text-center">About Us</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="content">
    <ion-row>
      <ion-col siae="10" offset="1">
        Our web site www.Wigbangladesh.com may ask you for a variety of personal details at various places. We will only keep this information permanently with your explicit permission, or if you make a hair system or product purchase in our store. Under no circumstances will we ever sell, lease, loan or rent your information to any other company for any reason whatsoever. Any email messages sent to you via Wigbangladesh are purely opt-in, and you can stop receiving them at any point with no questions asked by<strong> contacting us via email support@wigbangladesh.com. </strong>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
