<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" style="display: block; text-align: center;">
      <ion-button (click)="close()" slot="end" color="danger"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ul>
    <li>
        <p><b>
            ২ টি কিনলে ৳ ১০০ ছাড় !
          </b></p>
          যেকোনো ভেরিয়েন্টের, যে কোন ফোন কাভার, হোক সেটি কাস্টমাইজড কিংবা
      সিলেক্টিভ ডিজাইন । যে কোন ২টি কিনলে ১০০ টাকা ছাড় ।
    </li>
    <li>
      <p><b>
        ৩  টি কিনলে ৳ ২০০ ছাড় !
        </b></p>
                  যেকোনো ভেরিয়েন্টের, যে কোন ফোন কাভার, হোক সেটি কাস্টমাইজড কিংবা
      সিলেক্টিভ ডিজাইন । যে কোন ৩টি কিনলে ২০০ টাকা ছাড় ।
    </li>
    <li>
      <p><b>
        ৪ টি কিনলে ৳ ৩০০ ছাড় !
        </b></p>
                যেকোনো ভেরিয়েন্টের, যে কোন ফোন কাভার, হোক সেটি কাস্টমাইজড কিংবা
      সিলেক্টিভ ডিজাইন । যে কোন ৪টি কিনলে ৩০০ টাকা ছাড় ।
    </li>
    <li>
      <p><b>
        ৫ টি কিনলে ৳ ৪০০ ছাড় !
        </b></p>
          যেকোনো ভেরিয়েন্টের, যে কোন ফোন কাভার, হোক সেটি কাস্টমাইজড কিংবা
      সিলেক্টিভ ডিজাইন । যে কোন ৫টি কিনলে ৪০০ টাকা ছাড় ।
    </li>
  </ul>
</ion-content>




