<div class="section-header">Edit User</div>
<div nz-row [nzGutter]="24" *ngIf="userLoading">
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="16" #d>
                <div *ngFor="let any of [1,2,3,4,5,6,7,8]" >
                        <nz-skeleton-element nzType="input" [nzActive]="true" [style]="'width:'+d.clientWidth+'px'"></nz-skeleton-element>
                        <br/>
                        <br/>
                </div>
                <nz-skeleton-element nzType="button" nzSize="large" [nzActive]="true" ></nz-skeleton-element>
        </div>
        <div nz-col [nzSpan]="4"></div>
</div>

<form nz-form *ngIf="editUserForm" [formGroup]="editUserForm" class="ant-advanced-search-form">
        <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="4"></div>
                <div nz-col [nzSpan]="16">
                        <nz-form-item>
                                <nz-form-label nzFor="type">Type</nz-form-label>
                                <nz-form-control>
                                        <nz-select formControlName="type" nzPlaceHolder="Select Type">
                                                <nz-option nzValue="individual" nzLabel="individual"></nz-option>
                                                <nz-option nzValue="business" nzLabel="business"></nz-option>
                                        </nz-select>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="firstName">First Name</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="First Name" formControlName="firstName" [attr.id]="2" />
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="lastName">Last Name</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="Last Name" formControlName="lastName" [attr.id]="3" />
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="username">Username</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="Username" formControlName="username" [attr.id]="4" />
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="email">Email</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="Email" formControlName="email" [attr.id]="4" />
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="phone">Phone</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="Phone" formControlName="phone" [attr.id]="5" />
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="roleId">Role</nz-form-label>
                                <nz-form-control>
                                        <nz-select formControlName="roleId" nzPlaceHolder="Select Role">
                                                <nz-option [nzValue]="1" nzLabel="Admin"></nz-option>
                                                <nz-option [nzValue]="2" nzLabel="Client"></nz-option>
                                        </nz-select>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label nzFor="password">Add new Password</nz-form-label>
                                <nz-form-control>
                                        <input nz-input placeholder="Password" formControlName="password" [attr.id]="5" />
                                </nz-form-control>
                        </nz-form-item>
                        <br/>
                        <br/>
                        <br/>
                        <button nz-button [nzType]="'primary'" (click)="updateUser()">Update User</button>
                </div>
        </div>
        <div nz-col [nzSpan]="4"></div>
      </form>
